* {
    box-sizing: border-box;
}

.calculator {
    max-width: 300px;
    background: gray;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.operators {
    display: flex;
    flex-direction: column;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 50px;
    text-align: center;
    border: 1px solid yellow;
}

.btn.span {
    width: 100%;
    text-align: center;
}

.operator {
    width: 50px;
}

.calc-numbers {
    width: 300px;
    height: 50px;
}

.btn.operator {
    height: 50px;
    width: 100px;
}