* {
    box-sizing: border-box;
}

.calculator {
    max-width: 400px;
}

.calculator-buttons {
    display: flex;
}

.container-btn {
    display: flex;
    flex-direction: column;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 100px;
    border: 1px solid yellow;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.btn.span {
    width: 100%;
}

.calc-numbers {
    width: 400px;
    height: 50px;
    text-align: end;
    font-size: 22px;
    color: black;
}

.btn.operator {
    height: 50px;
    width: 100px;
    background-color: orange;
}

.btn.operator-clear {
    width: 100%;
    background-color: orange;
}

.btn:hover {
    background-color: palegreen;
}